asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-extra-fields
filetype
gunicorn
hashids
idna
oauthlib
packaging
pillow
psycopg2-binary
pycparser
PyJWT
python-dotenv
python3-openid
requests
requests-oauthlib
setuptools
six
social-auth-app-django
social-auth-core
sqlparse
tzdata
urllib3
