Django==3.2.16
django-filter
djangorestframework==3.12.4
django-cors-headers==3.13.0
djoser
webcolors
psycopg2-binary==2.9.3
Pillow
pytest
pytest-django
pytest-pythonpath
PyYAML
gunicorn
flake8
flake8-isort
shortuuid