asgiref
certifi
cffi
chardet
charset-normalizer
cryptography
defusedxml
Django==3.2.3
django-cleanup
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-extra-fields
filetype
gunicorn
idna
isort
oauthlib
pillow
psycopg2
psycopg2-binary
pycparser
PyJWT
python-dotenv
python3-openid
reportlab
requests
requests-oauthlib
rest_condition
social-auth-app-django
social-auth-core
sqlparse
urllib3
django-cors-headers
